---
import 'animate.css'
import '../styles/styles.scss'
export interface Props {
  title?: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width">
  <link rel="icon"
        type="image/x-icon"
        href="/img/favicon.gif" />
  <link href="https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap"
        rel="stylesheet" />
  <title>Cambia Accordi { title ? `- ${title}` : '' }</title>
</head>

<body>
  <div id="app">
    <slot />
  </div>
</body>

</html>